  .gradient-background {
    background: linear-gradient(300deg, #00A9FF, #89CFF3, #A0E9FF, #D2DE32);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }

  } 

  #main-photo {
    border-radius: 50%;
  }

  .background1 {
    background-color: #016A70;
  }

  .font1 {
    font-family: Modern, serif;
    color: black !important;
  }


  .buttons {
    border: 0px !important;
    padding: 0px !important;

  }

  #button1 {
    margin: -5px;
    padding: 0px;
    border: 1px solid rgb(20, 137, 176) ;
    background-color: none;
    height: 30px;
    width: 30px;
    text-align: center;
    justify-content: center;
    border-radius: 25%;
    opacity: 0.7;
  }

  .button2 {
    margin: none !important;
    padding: none !important;
    border: none !important;
    background-color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    justify-content: center;
    border-radius: 32%;
  }

  .d-flex1 {
    display: flex;
  }

  #home {
    font-family: Modern, serif;
    font-weight: bolder;
    font-size: larger;
    color: white;
    opacity: 0.7;
  }

  #contact {
    font-family: Modern, serif;
    font-weight: bolder;
    font-size: larger;
    color: white;
    opacity: 0.7;
  }

  #about {
    font-family: Modern, serif;
    font-weight: bolder;
    font-size: larger;
    color: white;
    opacity: 0.7;
  }

  #drone-pilot {
    width: 90px;
    height: 90px;
    margin-right: 0px !important;
    padding-right: 0px !important;
    border-radius: 50%;

  } 

  .drone-pilot {
    width: 90px !important;
    height: 90px !important;
    margin: 0px  !important;
    padding: 0px !important;
    border-radius: 50%;

  }

  .mainRunner {
    position: relative;
    
  }
  
  .img1 {
    
    position: relative;
    z-index: 1;
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important; 
    
  }
  
  .img2 {
    
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 2;
    top: 0px;
    left: 150px;
    top: -130px  
  }

  .img3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0px !important;
  }

  #exp {
    width: 330px;
    height: 100px;
    
  }

  .job-title {
    font-size:larger;
    font-weight: 700 !important;
  }

  .b1 {
    vertical-align: -0.125em;
    fill: currentColor;


  }

  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }

  #collapse-button {
    background-color: #0174BE;
    color: white;
    font-weight: 700;
    font-size: large;
  }

  #collapse-button2 {
    
    color: #00A9FF;
    font-weight: 700;
    font-size: large;
  }

  .code-icons {
    width: 79px;
    height: 70px;
  }

  #align-code-icon {
    width: 100px;
  }

  #hanging-icons {
    margin-top: 30px !important;
  }


  .poza1 {
    position: absolute;
    width: 300px;
    height: 350px;
    z-index: 3;
    top: -50px;
    left: 260px;
  }

  .poza2 {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 0;
    
    border-radius: 50%;
  }

  .poza3 {
    position: absolute;
    width: 60px;
    height:60px;
    z-index: 4;
    top: -20px;
    left: 90px;
  }

  .poza4 {
    width: 100px;
    height: 120px;
    border-radius: 50%;
  }
  
  .poze {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  .poza-container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .object-fit-cover {
    object-fit: cover;
  }


 